.about-me-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
    border: 1px solid hotpink;
    border-radius: 5px;
    color: purple;
  }
  
  .about-me-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: hotpink;
  }
  
  .about-me-description {
    font-size: 16px;
    line-height: 1.5;
    font-family:'Times New Roman', Times, serif;
  }